<div class="container">
  <div class="absolute-center-icons">
  <div id="profile">

    <h2><%= current_user.username %>'s stories</h2>

    <%= link_to raw('<i class="fa fa-pencil-square-o"></i> New Story'), new_story_path, class: 'button newstory' %>


    <div >
      <ul class="story-list">
      <% current_user.stories.each do |story| %>
        <li class="story-link">
        <%= link_to story do %>
          <i class="fa fa-book fa-2x"></i><%= story.short_title %>
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>
</div>