<div class="container">
  <div class="absolute-center-icons">
  <div id="profile">

    <h2><%= current_user.username %>'s stories</h2><br><br>
    <li>
      <%= link_to 'New Story', new_story_path, class: 'button newstory' %>
    </li>

    <ol>
    <br><br>

    <div class="grid">

      <% current_user.stories.each do |story| %>

        <%= link_to story do %>
          <div class="grouping">
            <div class="col-1">
              <i class="fa fa-file fa-3x"></i><h3><%= shorten_title(story.name) %></h3>
            </div>
          </div>
        <% end %>

      <% end %>

    </div>
  </ol>
</div>