<h1><%= @user.username %>'s Profile Page</h1>
  <h2>My Stories</h2>
  <ol>
    <% @user.stories.each do |story| %>
      <li><%= link_to story.name, story %></li>
    <% end %>
  </ol>

<p><%= link_to 'Create new story', new_story_path %></p>
