<div class="container">
  
    <% unless user_signed_in? %>
      <div class="absolute-center">
      <h1 id="brand">three sentences</h1>
    <% end %>
    <% if user_signed_in? %>
    <div class="absolute-center-icons">
    <div id="profile">
      <h2><%= @user.username %>'s stories</h2><br><br>
      <li><%= link_to 'New Story', new_story_path, class: 'button newstory' %></li>
        <ol>
          

          <br><br>

          <div class="grid">

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i>
            <h4>3</h4><br><h6>sentences<h6>
            <h5>Hello</h5>
            </div>

            </div>


            <div class="grouping">
            <!-- <div class="icontext">Hello</div> -->
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>9</h4><br><h6>sentences<h6>
            <h5>My awesome story</h5>
            </div>
            </div>
           
            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>20</h4><br><h6>sentences<h6><h5>A Tale of Two Cities</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>2</h4><br><h6>sentences<h6><h5>Game of Thrones</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>13</h4><br><h6>sentences<h6><h5>Dev Bootcamp</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>27</h4><br><h6>sentences<h6><h5>Hello</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i>
            <h4>81</h4><br><h6>sentences<h6><h5>Hello</h5>
            </div>

            </div>


            <div class="grouping">
            <!-- <div class="icontext">Hello</div> -->
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>72</h4><br><h6>sentences<h6><h5>My awesome story</h5>
            </div>
            </div>
           
            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>100</h4><br><h6>sentences<h6><h5>A Tale of Two Cities</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>9</h4><br><h6>sentences<h6><h5>Game of Thrones</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>20</h4><br><h6>sentences<h6><h5>Dev Bootcamp</h5>
            </div>
            </div>

            <div class="grouping">
            <div class="col-1">
            <i class="my-icon"><i></i><i></i><i></i></i><h4>17</h4><br><h6>sentences<h6><h5>Hello</h5>
            </div>
            </div>

          </div>
          <% @user.stories.each do |story| %>
            <li><%= link_to story.name, story, class: 'button' %></li><br><br><br><br>




          <% end %>
        </ol>
    
    <% else %>
      <p id="tagline">If you can write three sentences,<br> you can write a story.</p>
    <% end %>
  </div>
</div>

<!-- link_to "Delete", story_path(story), method: :delete -->

