<div class="container">
    <div class="absolute-center">
      <h1 id="brand">three sentences</h1>
      <p id="tagline">If you can write three sentences,<br> you can write a story.</p>
     <%= link_to "Sign Up", new_user_registration_path, class: 'button invert signup' %>
  </div>
</div>
