<div class="absolute-center-share">
  <div id="sharemodal">
      <h2>Share <%= @story.shortened_title %></h2>
      <p>http://0.0.0.0:3000/stories/<%= @story.share_url %>/share</p>
      <%= button_tag 'Close', :type => 'button' %>
  </div>
</div>
