<div class="controls">
  <span class="save-indicator">Saved</span>
</div>

<div class="modal-bg">
  <div class="absolute-center-export">
      <h3>Copy this link to share your work</h3>
      <input class="sharebox" id="share_url" name="share_url" type="text" value="http://0.0.0.0:3000/stories/4531dc3/share"><br>
      <hr>
      <h3>Export</h3><h3>
      <form accept-charset="UTF-8" action="/stories//export" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="7peDrZO1g+6JxGd5QkSrIqJeKIT7/0xnypMA0eULIlM="></div>
        <div class="radio">
          <input checked="checked" id="filetype_rtf" name="filetype" type="radio" value="rtf">
          <label for="rtf">RTF</label>
          <input id="filetype_pdf" name="filetype" type="radio" value="pdf">
          <label for="pdf">PDF</label>
          <input id="filetype_md" name="filetype" type="radio" value="md">
          <label for="pdf">Markdown</label>
          <input name="commit" type="submit" value="Export">
        </div>
        <a class="close" href="#"><i class="fa fa-close"></i></a>
</form>  </h3></div>
</div>


<div id="frame" style="width: 4650px;">

  <div class="slidee">
    <div class="column" data-depth="0" id="column-0">
      <input type="text" class="sentence" data-id="364" data-position="1" data-parent-id="" data-depth="0" placeholder="The Beginning" disabled="disabled">
      <input type="text" class="sentence" id="two" data-id="365" data-position="2" data-parent-id="" data-depth="0" placeholder="The Conflict" disabled="disabled">
      <input class="sentence" data-id="366" id="three" data-position="3" data-parent-id="" data-depth="0" placeholder="The Resolution" disabled="disabled">
    </div>


  <div class="column" data-depth="1" id="column-1">
<div class="cluster bottomborder" id="cluster_tour" style="display: block;">
  <h3 class="cue" id="cue_tour" data-parent-position="1">A father gives his son an exotic pet for Christmas. </h3>

<input type="text" class="sentence" data-id="367" data-position="4" data-depth="1" data-parent-id="364" disabled="disabled">

<input type="text" class="sentence" data-id="368" data-position="5" data-depth="1" data-parent-id="364" disabled="disabled">

<input type="text" class="sentence" data-id="369" data-position="6" data-depth="1" data-parent-id="364" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="2">The pet multiplies and its offspring turn into monsters and wreak havoc.</h3>

<input type="text" class="sentence" data-id="370" data-position="7" data-depth="1" data-parent-id="365" disabled="disabled">

<input type="text" class="sentence" data-id="371" data-position="8" data-depth="1" data-parent-id="365" disabled="disabled">

<input type="text" class="sentence" data-id="372" data-position="9" data-depth="1" data-parent-id="365" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="3">The son, his girlfriend, and the original pet save the day by destroying the monsters.</h3>

<input type="text" class="sentence" data-id="373" data-position="10" data-depth="1" data-parent-id="366" disabled="disabled">

<input type="text" class="sentence" data-id="374" data-position="11" data-depth="1" data-parent-id="366" disabled="disabled">

<input type="text" class="sentence" data-id="375" data-position="12" data-depth="1" data-parent-id="366" disabled="disabled">
</div></div>
  <div class="column" data-depth="2" id="column-2">
<div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="4">An inventor seeks the perfect Christmas gift for his son.</h3>

<input type="text" class="sentence" data-id="376" data-position="13" data-depth="2" data-parent-id="367" disabled="disabled">

<input type="text" class="sentence" data-id="377" data-position="14" data-depth="2" data-parent-id="367" disabled="disabled">

<input type="text" class="sentence" data-id="378" data-position="15" data-depth="2" data-parent-id="367" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="5">In Chinatown, he purchases an exotic pet called a mogwai.</h3>

<input type="text" class="sentence" data-id="379" data-position="16" data-depth="2" data-parent-id="368" disabled="disabled">

<input type="text" class="sentence" data-id="380" data-position="17" data-depth="2" data-parent-id="368" disabled="disabled">

<input type="text" class="sentence" data-id="381" data-position="18" data-depth="2" data-parent-id="368" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="6">The mogwai comes with three important rules that must be followed at all costs.</h3>

<input type="text" class="sentence" data-id="382" data-position="19" data-depth="2" data-parent-id="369" disabled="disabled">

<input type="text" class="sentence" data-id="383" data-position="20" data-depth="2" data-parent-id="369" disabled="disabled">

<input type="text" class="sentence" data-id="384" data-position="21" data-depth="2" data-parent-id="369" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="7">The mogwai gets wet and offspring shoot from its back.</h3>

<input type="text" class="sentence" data-id="385" data-position="22" data-depth="2" data-parent-id="370" disabled="disabled">

<input type="text" class="sentence" data-id="386" data-position="23" data-depth="2" data-parent-id="370" disabled="disabled">

<input type="text" class="sentence" data-id="387" data-position="24" data-depth="2" data-parent-id="370" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="8">Those offspring eat after midnight and enter cocoons.</h3>

<input type="text" class="sentence" data-id="388" data-position="25" data-depth="2" data-parent-id="371" disabled="disabled">

<input type="text" class="sentence" data-id="389" data-position="26" data-depth="2" data-parent-id="371" disabled="disabled">

<input type="text" class="sentence" data-id="390" data-position="27" data-depth="2" data-parent-id="371" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="9">They emerge from the cocoons as gremlins and wreak havoc, multiplying along the way.</h3>

<input type="text" class="sentence" data-id="391" data-position="28" data-depth="2" data-parent-id="372" disabled="disabled">

<input type="text" class="sentence" data-id="392" data-position="29" data-depth="2" data-parent-id="372" disabled="disabled">

<input type="text" class="sentence" data-id="393" data-position="30" data-depth="2" data-parent-id="372" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="10">The majority of the gremlins are destroyed in an explosion.</h3>

<input type="text" class="sentence" data-id="394" data-position="31" data-depth="2" data-parent-id="373" disabled="disabled">

<input type="text" class="sentence" data-id="395" data-position="32" data-depth="2" data-parent-id="373" disabled="disabled">

<input type="text" class="sentence" data-id="396" data-position="33" data-depth="2" data-parent-id="373" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="11">A showdown between the gremlin's leader and our heroes takes place.</h3>

<input type="text" class="sentence" data-id="397" data-position="34" data-depth="2" data-parent-id="374" disabled="disabled">

<input type="text" class="sentence" data-id="398" data-position="35" data-depth="2" data-parent-id="374" disabled="disabled">

<input type="text" class="sentence" data-id="399" data-position="36" data-depth="2" data-parent-id="374" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="12">Billy, the son, destroys the last gremlin with sunlight.</h3>

<input type="text" class="sentence" data-id="400" data-position="37" data-depth="2" data-parent-id="375" disabled="disabled">

<input type="text" class="sentence" data-id="401" data-position="38" data-depth="2" data-parent-id="375" disabled="disabled">

<input type="text" class="sentence" data-id="402" data-position="39" data-depth="2" data-parent-id="375" disabled="disabled">
</div></div>
  <div class="column" data-depth="3" id="column-3">
<div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="13">Randall Peltzer is a hapless inventor and family man.</h3>

<input type="text" class="sentence" data-id="" data-position="40" data-depth="3" data-parent-id="376" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="41" data-depth="3" data-parent-id="376" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="42" data-depth="3" data-parent-id="376" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="14">He travels frequently, trying to sell his faulty inventions.</h3>

<input type="text" class="sentence" data-id="" data-position="43" data-depth="3" data-parent-id="377" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="44" data-depth="3" data-parent-id="377" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="45" data-depth="3" data-parent-id="377" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="15">On his travels, he seeks an unusual Christmas gift for his son, Billy.</h3>

<input type="text" class="sentence" data-id="" data-position="46" data-depth="3" data-parent-id="378" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="47" data-depth="3" data-parent-id="378" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="48" data-depth="3" data-parent-id="378" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="16">While in a Chinatown, a child tells him of his grandfather's tiny store.</h3>

<input type="text" class="sentence" data-id="" data-position="49" data-depth="3" data-parent-id="379" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="50" data-depth="3" data-parent-id="379" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="51" data-depth="3" data-parent-id="379" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="17">He enters and discovers an exotic, heretofore unheard of pet called a Mogwai.</h3>

<input type="text" class="sentence" data-id="" data-position="52" data-depth="3" data-parent-id="380" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="53" data-depth="3" data-parent-id="380" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="54" data-depth="3" data-parent-id="380" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="18">He tries to buy it from the store's owner who refuses, but his grandson sells it too him anyway.</h3>

<input type="text" class="sentence" data-id="" data-position="55" data-depth="3" data-parent-id="381" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="56" data-depth="3" data-parent-id="381" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="57" data-depth="3" data-parent-id="381" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="19">The Mogwai was originally not for sale because taking care of it requires great responsibility.</h3>

<input type="text" class="sentence" data-id="" data-position="58" data-depth="3" data-parent-id="382" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="59" data-depth="3" data-parent-id="382" disabled="disabled">

<input type="text" class="sentence" data-id="403" data-position="60" data-depth="3" data-parent-id="382" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="20">The grandson shares three important rules for care that must be followed at all costs.</h3>

<input type="text" class="sentence" data-id="404" data-position="61" data-depth="3" data-parent-id="383" disabled="disabled">

<input type="text" class="sentence" data-id="405" data-position="62" data-depth="3" data-parent-id="383" disabled="disabled">

<input type="text" class="sentence" data-id="406" data-position="63" data-depth="3" data-parent-id="383" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="21">While Billy tries to follow the rules, he eventually fails to—something that leads to dire consequences.</h3>

<input type="text" class="sentence" data-id="" data-position="64" data-depth="3" data-parent-id="384" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="65" data-depth="3" data-parent-id="384" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="66" data-depth="3" data-parent-id="384" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="22">Billy shows the Mogwai, Gizmo, to his friend.</h3>

<input type="text" class="sentence" data-id="" data-position="67" data-depth="3" data-parent-id="385" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="68" data-depth="3" data-parent-id="385" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="69" data-depth="3" data-parent-id="385" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="23">A glass of water accidentally spills on Gizmo.</h3>

<input type="text" class="sentence" data-id="" data-position="70" data-depth="3" data-parent-id="386" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="71" data-depth="3" data-parent-id="386" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="72" data-depth="3" data-parent-id="386" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="24">A bunch of Mogwai offspring shoot out of his back as a result of him coming in to contact with water.</h3>

<input type="text" class="sentence" data-id="" data-position="73" data-depth="3" data-parent-id="387" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="74" data-depth="3" data-parent-id="387" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="75" data-depth="3" data-parent-id="387" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="25">The new mogwai are much more excitable and mischievous.</h3>

<input type="text" class="sentence" data-id="" data-position="76" data-depth="3" data-parent-id="388" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="77" data-depth="3" data-parent-id="388" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="78" data-depth="3" data-parent-id="388" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="26">They fool Billy into feeding them after Midnight by biting through the power cord of his alarm clock.</h3>

<input type="text" class="sentence" data-id="" data-position="79" data-depth="3" data-parent-id="389" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="80" data-depth="3" data-parent-id="389" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="81" data-depth="3" data-parent-id="389" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="27">The next morning, Billy finds that every mogwai but Gizmo has cocooned.</h3>

<input type="text" class="sentence" data-id="" data-position="82" data-depth="3" data-parent-id="390" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="83" data-depth="3" data-parent-id="390" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="84" data-depth="3" data-parent-id="390" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="28">After the gestational period, the mogwai emerge for their cocoons.</h3>

<input type="text" class="sentence" data-id="" data-position="85" data-depth="3" data-parent-id="391" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="86" data-depth="3" data-parent-id="391" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="87" data-depth="3" data-parent-id="391" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="29">They emerge as gremlins, fierce reptilian-like monsters.</h3>

<input type="text" class="sentence" data-id="" data-position="88" data-depth="3" data-parent-id="392" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="89" data-depth="3" data-parent-id="392" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="90" data-depth="3" data-parent-id="392" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="30">They wreak havoc on the small town where Billy and his family and friends live.</h3>

<input type="text" class="sentence" data-id="" data-position="91" data-depth="3" data-parent-id="393" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="92" data-depth="3" data-parent-id="393" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="93" data-depth="3" data-parent-id="393" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="31">The leader of the gremlins, Stripe, leaps into a swimming pool, creating even more gremlins.</h3>

<input type="text" class="sentence" data-id="" data-position="94" data-depth="3" data-parent-id="394" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="95" data-depth="3" data-parent-id="394" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="96" data-depth="3" data-parent-id="394" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="32">All of the gremlins go to a local movie theater to watch a movie.</h3>

<input type="text" class="sentence" data-id="" data-position="97" data-depth="3" data-parent-id="395" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="98" data-depth="3" data-parent-id="395" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="99" data-depth="3" data-parent-id="395" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="33">Billy, his girlfriend Kate, and Gizmo blow up the movie theater killing the gremlins.</h3>

<input type="text" class="sentence" data-id="" data-position="100" data-depth="3" data-parent-id="396" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="101" data-depth="3" data-parent-id="396" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="102" data-depth="3" data-parent-id="396" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="34">There is a short-lived celebration.</h3>

<input type="text" class="sentence" data-id="" data-position="103" data-depth="3" data-parent-id="397" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="104" data-depth="3" data-parent-id="397" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="105" data-depth="3" data-parent-id="397" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="35">But Kate spots Stripe in a nearby store—he's still alive!</h3>

<input type="text" class="sentence" data-id="" data-position="106" data-depth="3" data-parent-id="398" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="107" data-depth="3" data-parent-id="398" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="108" data-depth="3" data-parent-id="398" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="36">Billy follows Stripe and battles with him.</h3>

<input type="text" class="sentence" data-id="" data-position="109" data-depth="3" data-parent-id="399" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="110" data-depth="3" data-parent-id="399" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="111" data-depth="3" data-parent-id="399" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="37">Stripe jumps into a water fountain to multiply.</h3>

<input type="text" class="sentence" data-id="" data-position="112" data-depth="3" data-parent-id="400" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="113" data-depth="3" data-parent-id="400" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="114" data-depth="3" data-parent-id="400" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="38">Gizmo opens a set of the window blinds in the store, and the sunlight that pours in kills Stripe.</h3>

<input type="text" class="sentence" data-id="" data-position="115" data-depth="3" data-parent-id="401" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="116" data-depth="3" data-parent-id="401" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="117" data-depth="3" data-parent-id="401" disabled="disabled">
</div><div class="cluster bottomborder" style="display: block;">
  <h3 class="cue" data-parent-position="39">Billy decides to return Gizmo to the store in Chinatown after he decides the Western world is not ready for the responsibilities of mogwai care.</h3>

<input type="text" class="sentence" data-id="" data-position="118" data-depth="3" data-parent-id="402" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="119" data-depth="3" data-parent-id="402" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="120" data-depth="3" data-parent-id="402" disabled="disabled">
</div></div>
  <div class="column" data-depth="4" id="column-4">
<div class="cluster">
  <h3 class="cue" data-parent-position="40"></h3>

<input type="text" class="sentence" data-id="" data-position="121" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="122" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="123" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="41"></h3>

<input type="text" class="sentence" data-id="" data-position="124" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="125" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="126" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="42"></h3>

<input type="text" class="sentence" data-id="" data-position="127" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="128" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="129" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="43"></h3>

<input type="text" class="sentence" data-id="" data-position="130" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="131" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="132" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="44"></h3>

<input type="text" class="sentence" data-id="" data-position="133" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="134" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="135" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="45"></h3>

<input type="text" class="sentence" data-id="" data-position="136" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="137" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="138" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="46"></h3>

<input type="text" class="sentence" data-id="" data-position="139" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="140" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="141" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="47"></h3>

<input type="text" class="sentence" data-id="" data-position="142" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="143" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="144" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="48"></h3>

<input type="text" class="sentence" data-id="" data-position="145" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="146" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="147" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="49"></h3>

<input type="text" class="sentence" data-id="" data-position="148" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="149" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="150" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="50"></h3>

<input type="text" class="sentence" data-id="" data-position="151" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="152" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="153" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="51"></h3>

<input type="text" class="sentence" data-id="" data-position="154" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="155" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="156" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="52"></h3>

<input type="text" class="sentence" data-id="" data-position="157" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="158" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="159" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="53"></h3>

<input type="text" class="sentence" data-id="" data-position="160" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="161" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="162" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="54"></h3>

<input type="text" class="sentence" data-id="" data-position="163" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="164" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="165" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="55"></h3>

<input type="text" class="sentence" data-id="" data-position="166" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="167" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="168" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="56"></h3>

<input type="text" class="sentence" data-id="" data-position="169" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="170" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="171" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="57"></h3>

<input type="text" class="sentence" data-id="" data-position="172" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="173" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="174" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="58"></h3>

<input type="text" class="sentence" data-id="" data-position="175" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="176" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="177" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="59"></h3>

<input type="text" class="sentence" data-id="" data-position="178" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="179" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="180" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="60">The responsibilities of mogwai care can be summed up with three important rules.</h3>

<input type="text" class="sentence" data-id="" data-position="181" data-depth="4" data-parent-id="403" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="182" data-depth="4" data-parent-id="403" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="183" data-depth="4" data-parent-id="403" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="61">Never expose a mogwai to bright light—especially sunlight, which will kill it.</h3>

<input type="text" class="sentence" data-id="" data-position="184" data-depth="4" data-parent-id="404" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="185" data-depth="4" data-parent-id="404" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="186" data-depth="4" data-parent-id="404" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="62">Never get it wet.</h3>

<input type="text" class="sentence" data-id="" data-position="187" data-depth="4" data-parent-id="405" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="188" data-depth="4" data-parent-id="405" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="189" data-depth="4" data-parent-id="405" disabled="disabled">
</div><div class="cluster" style="display: block;">
  <h3 class="cue" data-parent-position="63">And, most importantly: no matter how much it cries or begs, never, ever feed it after midnight.</h3>

<input type="text" class="sentence" data-id="" data-position="190" data-depth="4" data-parent-id="406" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="191" data-depth="4" data-parent-id="406" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="192" data-depth="4" data-parent-id="406" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="64"></h3>

<input type="text" class="sentence" data-id="" data-position="193" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="194" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="195" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="65"></h3>

<input type="text" class="sentence" data-id="" data-position="196" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="197" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="198" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster bottomborder">
  <h3 class="cue" data-parent-position="66"></h3>

<input type="text" class="sentence" data-id="" data-position="199" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="200" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="201" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="67"></h3>

<input type="text" class="sentence" data-id="" data-position="202" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="203" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="204" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="68"></h3>

<input type="text" class="sentence" data-id="" data-position="205" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="206" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="207" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="69"></h3>

<input type="text" class="sentence" data-id="" data-position="208" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="209" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="210" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="70"></h3>

<input type="text" class="sentence" data-id="" data-position="211" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="212" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="213" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="71"></h3>

<input type="text" class="sentence" data-id="" data-position="214" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="215" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="216" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="72"></h3>

<input type="text" class="sentence" data-id="" data-position="217" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="218" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="219" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="73"></h3>

<input type="text" class="sentence" data-id="" data-position="220" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="221" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="222" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="74"></h3>

<input type="text" class="sentence" data-id="" data-position="223" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="224" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="225" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="75"></h3>

<input type="text" class="sentence" data-id="" data-position="226" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="227" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="228" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="76"></h3>

<input type="text" class="sentence" data-id="" data-position="229" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="230" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="231" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="77"></h3>

<input type="text" class="sentence" data-id="" data-position="232" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="233" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="234" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="78"></h3>

<input type="text" class="sentence" data-id="" data-position="235" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="236" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="237" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="79"></h3>

<input type="text" class="sentence" data-id="" data-position="238" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="239" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="240" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="80"></h3>

<input type="text" class="sentence" data-id="" data-position="241" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="242" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="243" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="81"></h3>

<input type="text" class="sentence" data-id="" data-position="244" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="245" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="246" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="82"></h3>

<input type="text" class="sentence" data-id="" data-position="247" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="248" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="249" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="83"></h3>

<input type="text" class="sentence" data-id="" data-position="250" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="251" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="252" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="84"></h3>

<input type="text" class="sentence" data-id="" data-position="253" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="254" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="255" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="85"></h3>

<input type="text" class="sentence" data-id="" data-position="256" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="257" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="258" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="86"></h3>

<input type="text" class="sentence" data-id="" data-position="259" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="260" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="261" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="87"></h3>

<input type="text" class="sentence" data-id="" data-position="262" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="263" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="264" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="88"></h3>

<input type="text" class="sentence" data-id="" data-position="265" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="266" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="267" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="89"></h3>

<input type="text" class="sentence" data-id="" data-position="268" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="269" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="270" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="90"></h3>

<input type="text" class="sentence" data-id="" data-position="271" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="272" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="273" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="91"></h3>

<input type="text" class="sentence" data-id="" data-position="274" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="275" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="276" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="92"></h3>

<input type="text" class="sentence" data-id="" data-position="277" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="278" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="279" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster bottomborder">
  <h3 class="cue" data-parent-position="93"></h3>

<input type="text" class="sentence" data-id="" data-position="280" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="281" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="282" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="94"></h3>

<input type="text" class="sentence" data-id="" data-position="283" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="284" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="285" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="95"></h3>

<input type="text" class="sentence" data-id="" data-position="286" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="287" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="288" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="96"></h3>

<input type="text" class="sentence" data-id="" data-position="289" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="290" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="291" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="97"></h3>

<input type="text" class="sentence" data-id="" data-position="292" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="293" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="294" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="98"></h3>

<input type="text" class="sentence" data-id="" data-position="295" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="296" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="297" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="99"></h3>

<input type="text" class="sentence" data-id="" data-position="298" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="299" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="300" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="100"></h3>

<input type="text" class="sentence" data-id="" data-position="301" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="302" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="303" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="101"></h3>

<input type="text" class="sentence" data-id="" data-position="304" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="305" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="306" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="102"></h3>

<input type="text" class="sentence" data-id="" data-position="307" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="308" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="309" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="103"></h3>

<input type="text" class="sentence" data-id="" data-position="310" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="311" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="312" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="104"></h3>

<input type="text" class="sentence" data-id="" data-position="313" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="314" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="315" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="105"></h3>

<input type="text" class="sentence" data-id="" data-position="316" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="317" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="318" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="106"></h3>

<input type="text" class="sentence" data-id="" data-position="319" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="320" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="321" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="107"></h3>

<input type="text" class="sentence" data-id="" data-position="322" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="323" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="324" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="108"></h3>

<input type="text" class="sentence" data-id="" data-position="325" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="326" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="327" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="109"></h3>

<input type="text" class="sentence" data-id="" data-position="328" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="329" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="330" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="110"></h3>

<input type="text" class="sentence" data-id="" data-position="331" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="332" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="333" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="111"></h3>

<input type="text" class="sentence" data-id="" data-position="334" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="335" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="336" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="112"></h3>

<input type="text" class="sentence" data-id="" data-position="337" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="338" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="339" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="113"></h3>

<input type="text" class="sentence" data-id="" data-position="340" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="341" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="342" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="114"></h3>

<input type="text" class="sentence" data-id="" data-position="343" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="344" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="345" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="115"></h3>

<input type="text" class="sentence" data-id="" data-position="346" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="347" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="348" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="116"></h3>

<input type="text" class="sentence" data-id="" data-position="349" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="350" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="351" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="117"></h3>

<input type="text" class="sentence" data-id="" data-position="352" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="353" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="354" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="118"></h3>

<input type="text" class="sentence" data-id="" data-position="355" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="356" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="357" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster">
  <h3 class="cue" data-parent-position="119"></h3>

<input type="text" class="sentence" data-id="" data-position="358" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="359" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="360" data-depth="4" data-parent-id="" disabled="disabled">
</div><div class="cluster bottomborder">
  <h3 class="cue" data-parent-position="120"></h3>

<input type="text" class="sentence" data-id="" data-position="361" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="362" data-depth="4" data-parent-id="" disabled="disabled">

<input type="text" class="sentence" data-id="" data-position="363" data-depth="4" data-parent-id="" disabled="disabled">
</div></div></div>
</div>

<div class="column" id="the-end" data-depth="6">
  <div class="end-message">
    <i class="fa fa-book fa-5x"></i>
    <h3>You're ready to go write your story!</h3><h3>
    <a class="button export end" href="/">Export</a>
  </h3></div>
</div>

<script type="text/template" class="template" id="column-template">
  <div class="column" data-depth="{{ depth }}" id="column-{{ depth }}">
</script>

<script type="text/template" class="template" id="sentence-template">
<input type="text" class="sentence" data-id="{{ sentence_id }}" data-position="{{ position }}" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
</script>

<script type="text/template" class="template" id="cue-template">
  <h3 class="cue" data-parent-position="{{ parent_position }}">{{ cue }}</h3>
</script>

<script>
  var story = new Story({"id":2,"name":"Gremlins","user_id":1,"created_at":"2014-09-09T18:24:58.738Z","updated_at":"2014-09-09T18:24:58.738Z","share_url":"4531dc3"});
  var shared = true
  var sentencesJson = [];
  sentencesJson = [{"id":364,"parent_id":null,"story_id":2,"content":"A father gives his son an exotic pet for Christmas. ","depth":0,"created_at":"2014-09-09T18:25:36.083Z","updated_at":"2014-09-09T18:25:36.083Z","position":1},{"id":365,"parent_id":null,"story_id":2,"content":"The pet multiplies and its offspring turn into monsters and wreak havoc.","depth":0,"created_at":"2014-09-09T18:26:11.037Z","updated_at":"2014-09-09T18:27:38.917Z","position":2},{"id":366,"parent_id":null,"story_id":2,"content":"The son, his girlfriend, and the original pet save the day by destroying the monsters.","depth":0,"created_at":"2014-09-09T18:26:42.788Z","updated_at":"2014-09-09T18:28:18.392Z","position":3},{"id":367,"parent_id":364,"story_id":2,"content":"An inventor seeks the perfect Christmas gift for his son.","depth":1,"created_at":"2014-09-09T18:28:48.504Z","updated_at":"2014-09-09T18:28:48.504Z","position":4},{"id":368,"parent_id":364,"story_id":2,"content":"In Chinatown, he purchases an exotic pet called a mogwai.","depth":1,"created_at":"2014-09-09T18:29:03.716Z","updated_at":"2014-09-09T18:55:13.547Z","position":5},{"id":369,"parent_id":364,"story_id":2,"content":"The mogwai comes with three important rules that must be followed at all costs.","depth":1,"created_at":"2014-09-09T18:30:17.367Z","updated_at":"2014-09-09T18:55:12.218Z","position":6},{"id":370,"parent_id":365,"story_id":2,"content":"The mogwai gets wet and offspring shoot from its back.","depth":1,"created_at":"2014-09-09T18:31:02.779Z","updated_at":"2014-09-09T18:55:15.652Z","position":7},{"id":371,"parent_id":365,"story_id":2,"content":"Those offspring eat after midnight and enter cocoons.","depth":1,"created_at":"2014-09-09T18:31:38.381Z","updated_at":"2014-09-09T18:31:38.381Z","position":8},{"id":372,"parent_id":365,"story_id":2,"content":"They emerge from the cocoons as gremlins and wreak havoc, multiplying along the way.","depth":1,"created_at":"2014-09-09T18:32:06.833Z","updated_at":"2014-09-09T18:36:00.823Z","position":9},{"id":373,"parent_id":366,"story_id":2,"content":"The majority of the gremlins are destroyed in an explosion.","depth":1,"created_at":"2014-09-09T18:34:01.073Z","updated_at":"2014-09-09T18:36:12.362Z","position":10},{"id":374,"parent_id":366,"story_id":2,"content":"A showdown between the gremlin's leader and our heroes takes place.","depth":1,"created_at":"2014-09-09T18:36:43.299Z","updated_at":"2014-09-09T19:02:59.000Z","position":11},{"id":375,"parent_id":366,"story_id":2,"content":"Billy, the son, destroys the last gremlin with sunlight.","depth":1,"created_at":"2014-09-09T18:37:16.939Z","updated_at":"2014-09-09T18:37:16.939Z","position":12},{"id":376,"parent_id":367,"story_id":2,"content":"Randall Peltzer is a hapless inventor and family man.","depth":2,"created_at":"2014-09-09T18:38:29.275Z","updated_at":"2014-09-09T18:40:56.976Z","position":13},{"id":377,"parent_id":367,"story_id":2,"content":"He travels frequently, trying to sell his faulty inventions.","depth":2,"created_at":"2014-09-09T18:39:18.554Z","updated_at":"2014-09-09T18:41:55.093Z","position":14},{"id":378,"parent_id":367,"story_id":2,"content":"On his travels, he seeks an unusual Christmas gift for his son, Billy.","depth":2,"created_at":"2014-09-09T18:42:30.504Z","updated_at":"2014-09-09T18:42:30.504Z","position":15},{"id":379,"parent_id":368,"story_id":2,"content":"While in a Chinatown, a child tells him of his grandfather's tiny store.","depth":2,"created_at":"2014-09-09T18:43:03.279Z","updated_at":"2014-09-09T18:43:03.279Z","position":16},{"id":380,"parent_id":368,"story_id":2,"content":"He enters and discovers an exotic, heretofore unheard of pet called a Mogwai.","depth":2,"created_at":"2014-09-09T18:43:29.807Z","updated_at":"2014-09-09T18:43:29.807Z","position":17},{"id":381,"parent_id":368,"story_id":2,"content":"He tries to buy it from the store's owner who refuses, but his grandson sells it too him anyway.","depth":2,"created_at":"2014-09-09T18:44:05.080Z","updated_at":"2014-09-09T18:44:05.080Z","position":18},{"id":382,"parent_id":369,"story_id":2,"content":"The Mogwai was originally not for sale because taking care of it requires great responsibility.","depth":2,"created_at":"2014-09-09T18:44:44.483Z","updated_at":"2014-09-09T18:44:44.483Z","position":19},{"id":383,"parent_id":369,"story_id":2,"content":"The grandson shares three important rules for care that must be followed at all costs.","depth":2,"created_at":"2014-09-09T18:45:49.642Z","updated_at":"2014-09-09T18:50:39.652Z","position":20},{"id":384,"parent_id":369,"story_id":2,"content":"While Billy tries to follow the rules, he eventually fails to—something that leads to dire consequences.","depth":2,"created_at":"2014-09-09T18:48:14.619Z","updated_at":"2014-09-09T18:50:47.034Z","position":21},{"id":385,"parent_id":370,"story_id":2,"content":"Billy shows the Mogwai, Gizmo, to his friend.","depth":2,"created_at":"2014-09-09T18:49:39.276Z","updated_at":"2014-09-09T18:50:53.936Z","position":22},{"id":386,"parent_id":370,"story_id":2,"content":"A glass of water accidentally spills on Gizmo.","depth":2,"created_at":"2014-09-09T18:49:52.565Z","updated_at":"2014-09-09T18:49:52.565Z","position":23},{"id":387,"parent_id":370,"story_id":2,"content":"A bunch of Mogwai offspring shoot out of his back as a result of him coming in to contact with water.","depth":2,"created_at":"2014-09-09T18:51:31.234Z","updated_at":"2014-09-09T18:51:31.234Z","position":24},{"id":388,"parent_id":371,"story_id":2,"content":"The new mogwai are much more excitable and mischievous.","depth":2,"created_at":"2014-09-09T18:52:13.791Z","updated_at":"2014-09-09T18:55:10.158Z","position":25},{"id":389,"parent_id":371,"story_id":2,"content":"They fool Billy into feeding them after Midnight by biting through the power cord of his alarm clock.","depth":2,"created_at":"2014-09-09T18:53:00.120Z","updated_at":"2014-09-09T18:53:00.120Z","position":26},{"id":390,"parent_id":371,"story_id":2,"content":"The next morning, Billy finds that every mogwai but Gizmo has cocooned.","depth":2,"created_at":"2014-09-09T18:53:30.009Z","updated_at":"2014-09-09T18:55:03.374Z","position":27},{"id":391,"parent_id":372,"story_id":2,"content":"After the gestational period, the mogwai emerge for their cocoons.","depth":2,"created_at":"2014-09-09T18:54:49.180Z","updated_at":"2014-09-09T18:55:01.464Z","position":28},{"id":392,"parent_id":372,"story_id":2,"content":"They emerge as gremlins, fierce reptilian-like monsters.","depth":2,"created_at":"2014-09-09T18:54:59.674Z","updated_at":"2014-09-09T18:55:54.094Z","position":29},{"id":393,"parent_id":372,"story_id":2,"content":"They wreak havoc on the small town where Billy and his family and friends live.","depth":2,"created_at":"2014-09-09T18:56:14.124Z","updated_at":"2014-09-09T18:56:14.124Z","position":30},{"id":394,"parent_id":373,"story_id":2,"content":"The leader of the gremlins, Stripe, leaps into a swimming pool, creating even more gremlins.","depth":2,"created_at":"2014-09-09T18:57:17.810Z","updated_at":"2014-09-09T18:57:49.659Z","position":31},{"id":395,"parent_id":373,"story_id":2,"content":"All of the gremlins go to a local movie theater to watch a movie.","depth":2,"created_at":"2014-09-09T18:58:10.410Z","updated_at":"2014-09-09T18:58:10.410Z","position":32},{"id":396,"parent_id":373,"story_id":2,"content":"Billy, his girlfriend Kate, and Gizmo blow up the movie theater killing the gremlins.","depth":2,"created_at":"2014-09-09T18:58:51.355Z","updated_at":"2014-09-09T18:58:51.355Z","position":33},{"id":397,"parent_id":374,"story_id":2,"content":"There is a short-lived celebration.","depth":2,"created_at":"2014-09-09T19:01:36.074Z","updated_at":"2014-09-09T19:04:54.217Z","position":34},{"id":398,"parent_id":374,"story_id":2,"content":"But Kate spots Stripe in a nearby store—he's still alive!","depth":2,"created_at":"2014-09-09T19:02:17.851Z","updated_at":"2014-09-09T19:04:57.066Z","position":35},{"id":399,"parent_id":374,"story_id":2,"content":"Billy follows Stripe and battles with him.","depth":2,"created_at":"2014-09-09T19:03:31.016Z","updated_at":"2014-09-09T19:05:08.292Z","position":36},{"id":400,"parent_id":375,"story_id":2,"content":"Stripe jumps into a water fountain to multiply.","depth":2,"created_at":"2014-09-09T19:05:46.647Z","updated_at":"2014-09-09T19:05:46.647Z","position":37},{"id":401,"parent_id":375,"story_id":2,"content":"Gizmo opens a set of the window blinds in the store, and the sunlight that pours in kills Stripe.","depth":2,"created_at":"2014-09-09T19:06:18.070Z","updated_at":"2014-09-09T19:06:18.070Z","position":38},{"id":402,"parent_id":375,"story_id":2,"content":"Billy decides to return Gizmo to the store in Chinatown after he decides the Western world is not ready for the responsibilities of mogwai care.","depth":2,"created_at":"2014-09-09T19:06:56.394Z","updated_at":"2014-09-09T19:06:56.394Z","position":39},{"id":403,"parent_id":382,"story_id":2,"content":"The responsibilities of mogwai care can be summed up with three important rules.","depth":3,"created_at":"2014-09-09T19:08:08.596Z","updated_at":"2014-09-09T19:08:41.458Z","position":60},{"id":404,"parent_id":383,"story_id":2,"content":"Never expose a mogwai to bright light—especially sunlight, which will kill it.","depth":3,"created_at":"2014-09-09T19:08:32.746Z","updated_at":"2014-09-09T19:08:57.511Z","position":61},{"id":405,"parent_id":383,"story_id":2,"content":"Never get it wet.","depth":3,"created_at":"2014-09-09T19:09:04.146Z","updated_at":"2014-09-09T19:09:04.146Z","position":62},{"id":406,"parent_id":383,"story_id":2,"content":"And, most importantly: no matter how much it cries or begs, never, ever feed it after midnight.","depth":3,"created_at":"2014-09-09T19:09:12.911Z","updated_at":"2014-09-09T19:09:25.412Z","position":63}]
</script>
