<div class="container">
  <div class="absolute-center">
    <div class="newstoryform">
      <h2>What's your story's title?</h2>

      <%= form_for @story do |f| -%>
        <%= f.text_field :name, placeholder: 'Title' %> <br>

        <%= f.submit "Submit", :disable_with => 'Submiting...' %>
      <% end -%>
   </div>
  </div>
</div>
