<p>StoryBoard</p>
<div class="content">
  <div class="pane" data-depth="0">
    <div class="slice" data-depth="0">
    </div>
  </div>
</div>



<script type="text/template" class="template" id="pane-template">
  <div class="pane" data-depth="{{ depth }}"></div>
</script>

<script type="text/template" class="template" id="sentence-template">
  <p contenteditable="true" class="sentence" data-id="{{ sentence.id }}" data-position="{{ sentence.position }}" data-depth="{{ sentence.depth }}" data-parent-id="{{ sentence.parent_id }}">{{ sentence.content }}</p>
</script>

<script type="text/template" class="template" id="slice-template">
  <div class="slice" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}">
  </div>
</script>

<script>
  var story = <%= raw json_escape(@story.to_json) %>;

  <% if @story.sentences %>
    var sentences = <%= raw json_escape(@story.sentences.to_json) %>
  <% end %>
</script>
