
<h1 class="story-name"><%= @story.name %></h1>


<script type="text/template" class="template" id="pane-template">
  <div class="pane" data-depth="{{ depth }}"></div>
</script>

<script type="text/template" class="template" id="sentence-template">
  <input type="text" class="sentence" data-id="{{ sentence.id }}" data-position="{{ sentence.position }}" data-depth="{{ sentence.depth }}" data-parent-id="{{ sentence.parent_id }}" value="{{ sentence.content }}"></input>
</script>

<script type="text/template" class="template" id="slice-template">
  <div class="slice" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}">

  </div>
</script>

<script type="text/template" class="template" id="new-slice-template">
  <div class="slice" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}">
  <h3 class="cue" data-parent-id="{{ parent_id }}">{{ cue }}</h3>
    <input type="text" class="sentence" data-id="" data-position="1" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
    <input type="text" class="sentence" data-id="" data-position="2" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
    <input type="text" class="sentence" data-id="" data-position="3" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
  </div>
</script>

<script>
  var story = <%= raw json_escape(@story.to_json) %>;
  var sentences = [];
  <% if @story.sentences %>
  sentences = <%= raw json_escape(@story.sentences.order(:depth, :parent_id, :position).to_json) %>
  <% end %>
</script>


<div id="frame">
  <div class="slidee">
    <div class="column">
      <div class="family">
        <div class="content">
          <div class="pane" data-depth="0">
            <div class="slice" data-depth="0">
              <input type="text" class="sentence" data-id="" data-position="1" data-depth="0" data-parent-id="" placeholder="The Beginning"></input>
              <input type="text" class="sentence" data-id="" data-position="2" data-depth="0" data-parent-id="" placeholder="The Conflict"></input>
              <input type="text" class="sentence" data-id="" data-position="3" data-depth="0" data-parent-id="" placeholder="The Resolution"></input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
