<p>StoryBoard</p>


<script type="text/template" class="template" id="pane-template">
  <div class="pane" data-depth="{{ depth }}"></div>
</script>

<script type="text/template" class="template" id="sentence-template">
  <input type="text" class="sentence" data-id="{{ sentence.id }}" data-position="{{ sentence.position }}" data-depth="{{ sentence.depth }}" data-parent-id="{{ sentence.parent_id }}" value="{{ sentence.content }}"></input>
</script>

<script type="text/template" class="template" id="slice-template">
  <div class="slice" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}">

  </div>
</script>

<script type="text/template" class="template" id="new-slice-template">
  <div class="slice" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}">
  <h3 class="cue" data-parent-id="{{ parent_id }}">{{ cue }}</h3>
    <input type="text" class="sentence" data-id="" data-position="1" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
    <input type="text" class="sentence" data-id="" data-position="2" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
    <input type="text" class="sentence" data-id="" data-position="3" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
  </div>
</script>

<script>
  var story = <%= raw json_escape(@story.to_json) %>;
  var sentences = [];
  <% if @story.sentences %>
  sentences = <%= raw json_escape(@story.sentences.order(:depth, :parent_id, :position).to_json) %>
  <% end %>
</script>


<div id="frame">
    <div class="slidee">

    <div class="column">
      

      <div class="family">




<div class="content">
  <div class="pane" data-depth="0">
    <div class="slice" data-depth="0">
      <input type="text" class="sentence" data-id="" data-position="1" data-depth="0" data-parent-id=""></input>
      <input type="text" class="sentence" data-id="" data-position="2" data-depth="0" data-parent-id=""></input>
      <input type="text" class="sentence" data-id="" data-position="3" data-depth="0" data-parent-id=""></input>
    </div>
  </div>
</div>



        <div class="sentence depth1" id="1">
          <p>It was a dark and stormy night when she drove out of Vegas with the suitcase full of cash.</p>
        </div>

        <div class="sentence depth1" id="2">
         <p>Florida was sort of like Vegas, only with more water and less light.</p>
        </div>


        <div class="sentence depth1" id="3">
          <p>All things considered, the Adirondacks was the last place she thought would end up, but if you didn't mind the black flies in springtime, it was lovely.</p>
      </div>
    </div>
    </div>

    <div class="column">

      <div class="family">
        <div class="sentence depth2" id="4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth2" id="5">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth2" id="6">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>

      <div class="family">
        <div class="sentence depth2" id="7">
          <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
        </div>
        <div class="sentence depth2" id="8">
          <p>And the quiet of 2:00am seemed unnatural.</p>
        </div>
        <div class="sentence depth2" id="9">
          <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
        </div>
      </div>

    <div class="family">

      <div class="sentence depth2" id="10">
        <p>The mountain rising out of the lake astounded her.</p>
      </div>
      <div class="sentence depth2" id="11">
        <p>Although she had seen it in pictures and movies, her first site of the night sky away from city lights amazed her.</p>
      </div>
      <div class="sentence depth2" id="12">
        <p>Mud season and black flies, however, she could happily do without.</p>
      </div>
    </div>

    </div>

    <div class="column">

    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>

    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>
    <div class="family">
      <div class="sentence depth3" id="13">
        <p>It took a while to get use to seeing the ocean at the end of the sand.</p>
      </div>
      <div class="sentence depth3" id="14">
        <p>And the quiet of 2:00am seemed unnatural.</p>
      </div>
      <div class="sentence depth3" id="15">
        <p>But the quiet seaside life was a welcome change from the glitz and noise.</p>
      </div>
    </div>



    </div>

    <div class="column">
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>


        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>

        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
        <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>She didn't know or care where she was going, as long as she was leaving here.</p>
        </div>
      </div>
      <div class="family">
        <div class="sentence depth4">
          <p>The car was Julio's, but she didn't think he'd miss it much.</p>
        </div>
        <div class="sentence depth4">
          <p>The cash might be missed at the Rio, but she was past caring about such things.</p>
        </div>
        <div class="sentence depth4">
          <p>And she lived happily ever after and only missed Vegas during mud season.</p>
        </div>
      </div>



    </div>

    </div>
  </div>
</div>
