<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- <script src="http://darsa.in/sly/js/sly.min.js"></script> -->

<!-- <script src="sly.js"></script> -->
<script src="mousetrap.min.js"></script>
<script src="horizontal.js"></script>


<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>

<div id="frame">
    <div class="slidee">
     
     
       

        <div class="hello"><h1>Where the Buggalo Roam</h1><h2>The Mutants Are Revolting</h2>
<p>Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip; Ah, yes! John Quincy Adding Machine.  He struck a chord with the voters when he pledged not to go on a killing spree. Interesting. No, wait, the other thing: tedious. I daresay that Fry has discovered the smelliest object in the known universe! Fry, you can't just sit here in the dark listening to classical music. Ven ve voke up, ve had zese wodies.</p>
<ul>
<li>I can explain. It's very valuable.</li>
<li>It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels.</li>
<li>Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence.</li>
<li>We're also Santa Claus!</li>
</ul>
<h3>Fry and the Slurm Factory</h3>
<p>Enough about your promiscuous mother, Hermes! We have bigger problems. Large bet on myself in round one. I'll tell them you went down prying the wedding ring off his cold, dead finger. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<h4>Attack of the Killer App</h4>
<p>You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? That's the ONLY thing about being a slave. It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you?</p>
<ol>
<li>Enough about your promiscuous mother, Hermes! We have bigger problems.</li>
<li>You guys go on without me! I'm going to go&hellip; look for more stuff to steal!</li>
<li>Enough about your promiscuous mother, Hermes! We have bigger problems.</li>
<li>Bender?! You stole the atom.</li>
<li>Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all.</li>
</ol>
<h5>A Fishful of Dollars</h5>
<p>Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! What are you hacking off? Is it my torso?! 'It is!' My precious torso! Stop it, stop it. It's fine. I will 'destroy' you! They're like sex, except I'm having them! OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness.</p></div>



      <div class="hello"><h1>The Birdbot of Ice-Catraz</h1>
<p>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas. Is the Space Pope reptilian!? Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life. Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence. But existing is basically all I do! She also liked to shut up!</p>
<h2>Insane in the Mainframe</h2>
<p>I'll tell them you went down prying the wedding ring off his cold, dead finger. Okay, it's 500 dollars, you have no choice of carrier, the battery can't hold the charge and the reception isn't very&hellip; Of all the friends I've had&hellip; you're the first.</p>
<ul>
<li>Really?!</li>
<li>It doesn't look so shiny to me.</li>
<li>Would you censor the Venus de Venus just because you can see her spewers?</li>
</ul>
<h3>A Pharaoh to Remember</h3>
<p>You don't know how to do any of those. No, of course not. It was&hellip; uh&hellip; porno. Yeah, that's it. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT! No, of course not. It was&hellip; uh&hellip; porno. Yeah, that's it.</p>
<h4>Raging Bender</h4>
<p>Who am I making this out to? No, just a regular mistake. I'm sure those windmills will keep them cool. Belligerent and numerous. You, minion. Lift my arm. AFTER HIM! You guys realize you live in a sewer, right?</p>
<ol>
<li>Fry, we have a crate to deliver.</li>
<li>Ummm&hellip;to eBay?</li>
<li>Guards! Bring me the forms I need to fill out to have her taken away!</li>
<li>So, how 'bout them Knicks?</li>
</ol>
<h5>Jurassic Bark</h5>
<p>Spare me your space age technobabble, Attila the Hun! I wish! It's a nickel. Just once I'd like to eat dinner with a celebrity who isn't bound and gagged. Yes. You gave me a dollar and some candy.</p></div>
<div class="hello"><h1>The Honking</h1>
<p>Why not indeed! The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. One hundred dollars. Yeah. Give a little credit to our public schools. Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. One hundred dollars.</p>
<h2>Spanish Fry</h2>
<p>Guards! Bring me the forms I need to fill out to have her taken away! Why would I want to know that? I am Singing Wind, Chief of the Martians. Tell her she looks thin. What are their names? But, like most politicians, he promised more than he could deliver.</p>
<ul>
<li>That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</li>
<li>You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus?</li>
</ul>
<h3>The Day The Earth Stood Stupid</h3>
<p>When the lights go out, it's nobody's business what goes on between two consenting adults. I daresay that Fry has discovered the smelliest object in the known universe! What are you hacking off? Is it my torso?! 'It is!' My precious torso!</p>
<h4>The Farnsworth Parabox</h4>
<p>It must be wonderful. Shinier than yours, meatbag. Hello Morbo, how's the family? Is that a cooking show? That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</p>
<ol>
<li>Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages!</li>
<li>Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew.</li>
<li>Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket.</li>
</ol>
<h5>Godfellas</h5>
<p>Please, Don-Bot&hellip; look into your hard drive, and open your mercy file! Hey, you add a one and two zeros to that or we walk! I can explain. It's very valuable.</p></div>
<div class="hello"><h1>Bender Gets Made</h1>
<p>Oh God, what have I done? Tell her she looks thin. Leela's gonna kill me.</p>
<h2>Kif Gets Knocked Up A Notch</h2>
<p>Anyone who laughs is a communist! Hey, you add a one and two zeros to that or we walk! Belligerent and numerous. Bender, I didn't know you liked cooking. That's so cute.</p>
<ul>
<li>Ooh, name it after me!</li>
<li>Hey, you add a one and two zeros to that or we walk!</li>
<li>They're like sex, except I'm having them!</li>
<li>Stop it, stop it. It's fine. I will 'destroy' you!</li>
<li>Well, let's just dump it in the sewer and say we delivered it.</li>
</ul>
<h3>Hell Is Other Robots</h3>
<p>OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. You, a bobsleder!? That I'd like to see! I suppose I could part with 'one' and still be feared&hellip; Robot 1-X, save my friends!  And Zoidberg! Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it?</p>
<h4>Proposition Infinity</h4>
<p>Moving along&hellip; What kind of a father would I be if I said no? Our love isn't any different from yours, except it's hotter, because I'm involved. And I'm his friend Jesus. Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip; I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny!</p>
<ol>
<li>Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.</li>
<li>Hey! I'm a porno-dealing monster, what do I care what you think?</li>
<li>And I'm his friend Jesus.</li>
<li>Stop it, stop it. It's fine. I will 'destroy' you!</li>
<li>I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope?</li>
</ol>
<h5>Bendless Love</h5>
<p>Well, let's just dump it in the sewer and say we delivered it. I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? When the lights go out, it's nobody's business what goes on between two consenting adults. Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew.</p></div>
    </div>
  </div>
</div>
</body>
</html>