$background-color: darken(#F5FEFF, 1%);

$primary-color: darken(#86CFD9, 30%);

$secondary-color: #88F068;

$base-text: #333333;

$medium-shade-base-text: #404040;

$light-shade-base-text: #7F7F7F;

$error-color: #FF7C70;

$warning-color: #FF6430;

$info-color: #F0FF3E;

$success-color: #45B722;
