$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$display-font: 'Varela Round', sans-serif;
$font-smallsize: 18px;
$font-basesize: 20px;
$font-mediumsize: 24px;
$font-largesize: 30px;
$font-xlargesize: 36px;
