
#frame {
	/*height: 100%;*/
  margin: 75px 0px 0px 0px;
  padding: 10px 0px; //(ver,hor)
	overflow: hidden;
  width: 3700px;
  padding-left: 0px;
  padding-right: 0px;
}
.slidee {
	list-style: none;
	margin: 0px 10px;
  padding: 0px 0px;
	/*height: 100%;*/
	font-size: 30px;
}
.hello {
	float: left;
	/*height: 90vh;*/
	margin: 0 5px 0 0;
	background: #F5FEFF;
    /*border: solid black;*/
    /*border-radius: 20px;*/
	color: #ddd;
	text-align: center;
	cursor: pointer;
	overflow: auto;
	width: 90vh;
}

.family {
  border: dotted blue;
  margin-top: 5px;
}

.sentence {
  /*margin: 20px 0px;*/
  font-size: 18px;
}

.sentence p {
  text-align: left;
}

.depth1 {
  margin: 120px 10px;
}

.depth2 {
  margin: 30px;
}

.depth3 {
  margin: 15px;
}

.depth4 {
  margin: 8px;
}
}
.slidee li.active {
	border: solid red;
}
p {
  font-size: 14px;
  color: #000;
}
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

h1, h2, h3, h4, h5, h6, li, p {
	color: #333333;
}
