@import 'font_variables';
@import 'color_variables';

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#frame {
  position: absolute;
  top: 0;
  margin: 75px 0px 0px 0px;
  padding: 0;
  width: 100%;
  font-size: 30px;
}

.slidee {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.column:first-child {
  margin-left: 200px;
}
.column {
	float: left;
  overflow-y: scroll;
  overflow-x: hidden;
	margin: 150px 20px 10px 0;
  padding-left: 80px;
	height: 70vh;
  width: 700px;
  min-width: 700px;
	background: $background-color;
	color: #ddd;
  position: relative;
	text-align: center;
}

.fa.fa-chevron-right.arrow {
  float: left;
  position: relative;
  top: 433px;
  font-size: 54px;
  color: darken($background-color, 10%);
  margin-left: 20px;
}

/*.column:before {
  content: '\f054';
  display: block;
  position: fixed;
  width: inherit;
  z-index: 100;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}*/

.column > :first-child {
 margin-top: 0;
}


#column-0 > :first-child {
  margin-top: 140px;
}

#column-0 input.sentence {
  margin-bottom: 70px;
}

p {
  font-size: 14px;
  color: #000;
}


h1, h2, h3, h4, h5, h6, li, p {
	color: #333333;
}

.my-icon {
    position: relative;
    z-index: -1;
}

.my-icon > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.5921052631578947em solid transparent;
    border-right: 0.5921052631578947em solid #86CFD9;
    border-bottom: 0.5921052631578947em solid #86CFD9;
    left: 0em;
    top: 0em;
    z-index: -1;

}

.my-icon > i+i {
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 2.3684210526315788em;
    background-color: #86CFD9;
    left: 0em;
    top: 1.263157894736842em;
    z-index: -1;
}

.my-icon > i+i+i {
    position: absolute;
    display: inline-block;
    width: 1.7368421052631577em;
    height: 1.263157894736842em;
    background-color: #86CFD9;
    left: 1.263157894736842em;
    top: 0em;
    z-index: -1;
}

.icontext {
	font-size: 16px;
	font-family: 'Helvetica Neue', serif;
	font-weight: 300;
}

.grid {
	font-size: 2em;
	margin-left: -50px;
}

.col-1 {
	float: left;
}

.col-1 h3 {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}



.my-icon p {
	position: relative;
	top: 20px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grouping {
	float: left;
	margin: 20px 50px 0 50px;
	opacity: 1;
}

.col-1 i {
  color: #86CFD9;
}



.grouping:hover{
	opacity: 0.7;
	cursor: pointer;
}



.col-1 {
	color: blue;
	display: inline-block;
	margin: 0px;
}

.col-1 h5{
	margin-top: 80px;
	margin-bottom: 30px;
	font-family: 'Varela Round', sans-serif;
	color: #333333;
	font-size: 0.5em;
}

.col-1 a {
	text-decoration: none;
	color: #333333;
}

.col-1 a:hover {
	text-decoration: none;
	color: #7F7F7F;
}

.col-1 h4{
	margin-top: 80px;
	margin-bottom: 0px;
	font-family: 'Varela Round', sans-serif;
	color: #333333;
	font-size: 1em;
	margin-left: 60px;
}

.col-1 h6{
	margin-top: -20px;
	font-family: 'Varela Round', sans-serif;
	color: #333333;
	font-size: 0.3em;
	margin-left: 55px;
}

#profile li {
	list-style-type: none;
}

.grid {
	color: red;
}
