@import 'font_variables';
@import 'color_variables';


::-webkit-scrollbar
{
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: lighten($primary-color, 35%);
}