.signupform, .loginform {
  text-align: center;
}

.signupform h2, .loginform h2, .newstoryform h2 {
  margin-bottom: 20px;
}

.signupform form input[type='submit'], .loginform form input[type='submit'], .newstoryform form input[type='submit'] {
  margin-top: 20px;
}

.remember_me {
  display: inline-block;
  position: relative;
  left: 55px;
}

#remember {
  padding-left: 8px;
}
