@import 'font_variables';
@import 'color_variables';

body {
  text-align: center;
}

h1.story-name {
  font-family: $display-font;
  position: relative;
  top: 30px;
  text-align: center;
  display: inline-block;
}

h1.story-name:hover {
  border-bottom: 3px solid $primary-color;
}

h1.story-name:focus {
  border-bottom: 3px solid $secondary-color;
  outline: none;
}

.cluster {
  display: none;
  margin: 0 auto 2em auto;
}

.bottomborder {
  padding-bottom: 40px;
}


.cue {
  font-family: $font-family;
  font-size: $font-smallsize;
  margin: 0 auto 0.75em auto;
  text-align: left;
  color: $light-shade-base-text;
}

input.sentence{
  display: block;
  font-family: $font-family;
  font-size: $font-smallsize;
  font-weight: 300;
  width: 600px;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  margin-left: 10px;
  border-width:0px;
  border:none;
  border-bottom: 1px solid $primary-color;
  border-radius: 3px 3px 0 0;
  background-color: $background-color;
  outline: none;
  cursor: text;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  box-shadow: none;
  transition: all 0.4s ease;
}

input.sentence:focus {
  outline: none;
  padding: 10px 10px 8px 10px;
  border-bottom: 3px solid $primary-color;
  background-color: white;
}

input.sentence:hover {
  background-color: white;
}

::selection {
  color: white;
  background-color: $primary-color;
}

.save-indicator {
  position: fixed;
  top: 30px;
  right: 200px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $primary-color;
  font-weight: 300;
  margin-right: 20px;
  display: none;
}

.controls .export {
  position: fixed;
  top: 20px;
  left: 120px;
  opacity: 0.8;
}

.controls .share {
  position: fixed;
  top: 20px;
  left: 170px;
  opacity: 0.8;
}

#the-end {
  display: none;
}

#the-end .export {
  margin: 20px auto;
  display: inline-block;
}

.tour {
  position: fixed;
  top: 20px;
  left: 207px;
}


.bottomborder {
  padding-bottom: 40px;
}

.end-message h3 {
  margin: 20px;

}

.sharebox {
  border-radius: 2px;
  border: none;
  border: 1px solid $primary-color;
  width: 80%;
  margin: 20px;
  padding: 4px;
  margin-bottom: 30px;
  font-size: $font-basesize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.sharebox h3 {
  margin-top: 20px;
}

.modal-bg {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: rgba(0,0,0, 0.8);
  display: none;
  z-index: 4;
}

.absolute-center-export {
  height: 333px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 5;
  padding: 20px;
  text-align: center;
  background: $background-color;
  border: 1px solid $primary-color;
  border-radius: 3px;
/*  -webkit-box-shadow: 0px 0px 20px 1px $primary-color;
  -moz-box-shadow: 0px 0px 20px 1px $primary-color;
  box-shadow: 0px 0px 20px 1px $primary-color;*/
}

.absolute-center-export h3 {
  margin: 30px;

}

.absolute-center-export .radio {
  margin-top: -10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $base-text;
}
