@import 'font_variables';
@import 'color_variables';

h1.story-name {
  font-family: $display-font;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  margin: 60px auto;
  text-align: center;
  width: 50%;

}

.cluster {
  display: none;
  margin: 0 auto 2em auto;
}

.bottomborder {
  padding-bottom: 40px;
}


.cue {
  font-family: $font-family;
  font-size: $font-smallsize;
  margin: 0 auto 0.75em auto;
  text-align: left;
  color: $light-shade-base-text;
}

input.sentence{
  display: block;
  font-family: $font-family;
  font-size: $font-smallsize;
  font-weight: 300;
  width: 600px;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  margin-left: 10px;
  border-width:0px;
  border:none;
  border-bottom: 1px solid $primary-color;
  border-radius: 3px 3px 0 0;
  background-color: $background-color;
  outline: none;
  cursor: text;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  box-shadow: none;
  transition: all 0.4s ease;
}

input.sentence:focus {
  outline: none;
  padding: 10px 10px 8px 10px;
  border-bottom: 3px solid $primary-color;
  background-color: white;
}

input.sentence:hover {
  background-color: white;
}

::selection {
  color: white;
  background-color: $primary-color;
}

#exportform {
  padding: 20px;
  text-align: center;
  background: $background-color;
  border: 1px solid $primary-color;
  -webkit-box-shadow: 0px 0px 100px 1px $primary-color;
  -moz-box-shadow: 0px 0px 100px 1px $primary-color;
  box-shadow: 0px 0px 100px 1px $primary-color;
}

#exportform h2 {
  padding-bottom: 20px;
}

#exportform .radio {
  padding-top: 20px;
}

.save-indicator {
  position: fixed;
  top: 30px;
  right: 200px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $primary-color;
  font-weight: 300;
  margin-right: 20px;
  display: none;
}

.controls .export {
  position: fixed;
  top: 20px;
  left: 120px;
  opacity: 0.8;
}

#the-end {
  display: none;
}

#the-end .export {
  margin: 20px auto;
  display: inline-block;
}


.bottomborder {
  padding-bottom: 40px;
}


