@import 'font_variables';
@import 'color_variables';

// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .child {
//   margin-left: 45px;
//   float: left;
//   display: inline-block;
//   clear: both;
//   p {
//     float: left;
//   }
// }

// .parent{
//   clear: both;
//   display: inline-block;
// }

h1.story-name {
  font-family: $font-family;
  margin: 1.2em auto 0.8em auto;
  text-align: center;
}

.cluster {
  display: none;
  margin: 0 auto 2em auto;
}

.cue {
  font-family: $font-family;
  font-size: $font-basesize;
  margin: 0 auto 0.75em auto;
  text-align: left;
  color: $light-shade-base-text;
}

input.sentence{
  display: block;
  font-family: $font-family;
  font-size: $font-basesize;
  width: 600px;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  margin-left: 10px;
  // margin: 10px 10px;
  border-width:0px;
  border:none;
  border-bottom: 1px solid $primary-color;
  border-radius: 3px 3px 0 0;
  background-color: $background-color;
  outline: none;
  cursor: text;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  box-shadow: none;
  transition: all 0.4s ease;
}

input.sentence:focus {
  outline: none;
  padding: 10px 10px 8px 10px;
  // margin: 10px auto 10px auto;
  border-bottom: 3px solid $primary-color;
  background-color: white;
}

input.sentence:hover {
  background-color: white;
}

::selection {
  color: white;
  background-color: $primary-color;
}

#exportform {
  padding: 20px;
  text-align: center;
  background: $background-color;
  border: 1px solid $primary-color;
  -webkit-box-shadow: 0px 0px 100px 1px $primary-color;
  -moz-box-shadow: 0px 0px 100px 1px $primary-color;
  box-shadow: 0px 0px 100px 1px $primary-color;
  display: none;
}

#exportform h2 {
  padding-bottom: 20px;
}

#exportform .radio {
  padding-top: 20px;
}

.save-indicator {
  position: fixed;
  top: 30px;
  right: 200px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $primary-color;
  font-weight: 300;
  margin-right: 20px;
  display: none;
}

.export {
  position: fixed;
  top: 20px;
  right: 120px;
}


