@import 'font_variables';
@import 'color_variables';

body {
  text-align: center;
}

.cluster {
  display: none;
  margin: 0 auto 1em auto;
  border-left: 2px solid #FFA2BE;
  padding: 30px;
  padding-bottom: 10px;
  -moz-border-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(top, #F5FEFF, #FFA2BE, #FFA2BE, #F5FEFF) 1 100%;
  -o-border-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(top, rgba(0, 0, 0, 0), #000000, #000000, rgba(0, 0, 0, 0)) 1 100%;
}

.triad {
  border: 1px solid transparent;
}

.bottomborder {
  padding-bottom: 40px;
}


.cue {
  font-family: $font-family;
  font-size: $font-smallsize;
  margin: 0 auto 0.75em auto;
  text-align: left;
  color: $light-shade-base-text;
  cursor: pointer;
}

input.sentence{
  display: block;
  font-family: $font-family;
  font-size: $font-smallsize;
  font-weight: 300;
  width: 600px;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  margin-left: 10px;
  border-width:0px;
  border:none;
  border-bottom: 1px solid $primary-color;
  border-radius: 3px 3px 0 0;
  background-color: $background-color;
  outline: none;
  cursor: text;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  box-shadow: none;
  transition: all 0.4s ease;
}

input.sentence:focus {
  outline: none;
  padding: 10px 10px 8px 10px;
  border-bottom: 3px solid $primary-color;
  background-color: white;
}

input.sentence:hover {
  background-color: white;
}

::selection {
  color: white;
  background-color: $primary-color;
}


#exportform {
  padding: 20px;
  text-align: center;
  background: $background-color;
  border: 1px solid $primary-color;
  -webkit-box-shadow: 0px 0px 100px 1px $primary-color;
  -moz-box-shadow: 0px 0px 100px 1px $primary-color;
  box-shadow: 0px 0px 100px 1px $primary-color;
}

#exportform h2 {
  padding-bottom: 20px;
}

#exportform .radio {
  padding-top: 20px;
}

// input[type=radio],
// input[type='checkbox'] {
//   display: none;
// }
// input[type=radio] + label {
//   display: block;
// }
// input[type='checkbox'] + label:before,
// input[type='radio'] + label:before {
//   display: inline-block;
//   font-family: FontAwesome;
//   font-style: normal;
//   font-weight: normal;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   padding-right: 8px;
// }
// input[type="checkbox"]:checked + label:before {
//   padding-right: 6px;
// }
// input[type=radio] + label:before {
//   content: "\f10c"; /* Radio Unchecked */
// }
// input[type=radio]:checked + label:before {
//   content: "\f05d"; /* Radio Checked */
// }
// input[type="checkbox"] + label:before {
//   content: "\f096"; /* Checkbox Unchecked */
// }
// input[type="checkbox"]:checked + label:before {
//   content: "\f046"; /* Checkbox Checked */
// }

.save-indicator {
  position: fixed;
  top: 23px;
  right: 100px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $primary-color;
  font-weight: 300;
  margin-right: 20px;
  display: none;
  i {
    position: relative;
    top: 1px;
    right: 3px;
    opacity: 0.8;
  }
}

#the-end {
  display: none;
}

#the-end .export {
  margin: 20px auto;
  display: inline-block;
}

.tour {
  position: fixed;
  top: 20px;
  left: 207px;
}


.bottomborder {
  padding-bottom: 40px;
}

.end-message h3 {
  margin: 20px;

}

.sharebox {
  border-radius: 2px;
  border: none;
  border: 1px solid $primary-color;
  width: 80%;
  margin: 20px;
  padding: 4px;
  margin-bottom: 30px;
  font-size: $font-basesize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.sharebox h3 {
  margin-top: 20px;
}

.modal-bg {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: rgba(0,0,0, 0.8);
  display: none;
  z-index: 4;
}

.absolute-center-export {
  height: 333px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 5;
  padding: 20px;
  text-align: center;
  background: $background-color;
  border: 1px solid $primary-color;
  border-radius: 3px;
}

.absolute-center-export h3 {
  margin: 30px;
}

.absolute-center-export .radio {
  margin-top: -10px;
}

#share_url {
  font-size: 16px;
}

.modal-bg-help {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: rgba(0,0,0, 0.8);
  display: none;
  z-index: 4;
}

.absolute-center-help{
  height: 333px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 5;
  padding: 20px;
  text-align: center;
  background: $background-color;
  border: 1px solid $primary-color;
  border-radius: 3px;
}

.close, .close-help {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $base-text;
}

.shortcuts {
  margin: 10px auto;
  font-size: 0.8em;
  color: $light-shade-base-text;
  width: 90%;
  padding-bottom: 20px;
}

.shortcuts td{
  padding: 8px;
}

.short-left {
  color: $base-text;
  font-family: "Andale Mono", AndaleMono, monospace;
  text-align: right;
}

.key {
  background: #EDF2F5;
  padding: 2px 9px 3px;
  border-radius: 3px;
  border: 1px solid #C5CDDB;
}

.short-right{
  color: $light-shade-base-text;
  text-align: left;
}

.cue_arrow {
  color: $base-text;
  float: left;
  margin-right: 20px;
  margin-left: -10px;
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

