@import 'font_variables';
@import 'color_variables';
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: $font-family;
  background: $background-color;
  color: $base-text;
  font-size: $font-basesize;
}

h1, h2, h3, h4 {
  font-family: $display-font;
}

h1 {
  font-size: $font-xlargesize;
}

h2 {
  font-size: $font-largesize;
}

h3 {
  font-size: $font-mediumsize;
}

h4 {
  font-size: $font-smallsize;
}

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
}

.info {
  background-color: $info-color;
}

.warning {
  background-color: $warning-color;
}

.error {
  background-color: $error-color;
}

.success {
  background-color: $success-color;
}

.font-small {
  font-size: $font-smallsize;
}

.font-medium {
  font-size: $font-mediumsize;
}

.font-large {
  font-size: $font-largesize;
}

.font-x-large {
  font-size: $font-xlargesize;
}

button, a.button, input[type=submit], input[type=button] {
  padding: 10px;
  font-size: $font-smallsize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: $medium-shade-base-text;
  border: 1px solid $primary-color;
  background: $background-color;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  transition: all 0.20s ease-in-out;
}

button:hover, a.button:hover, input[type=submit]:hover, input[type=button]:hover {
  background-color: $primary-color;
  color: white;

}

button:focus, a.button:focus, input[type=submit]:focus, input[type=button]:focus {
  border: 2px solid $primary-color;
  outline: none;
  background-color: white;
}

a.round {
  border-radius: 100%;
}

a.button.newstory {
  background: $secondary-color;
}

a.button.newstory:hover {
  color: white;
  background: $primary-color;
}

#brand {
  color: $primary-color;
}

form input[type='text'], form input[type='email'], form input[type='password'] {
  border-radius: 2px;
  border: none;
  border: 1px solid $primary-color;
  width: 200px;
  margin: 10px;
  padding: 4px;
  font-size: $font-basesize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}



input[type='checkbox'] {
  position: relative;
  bottom: 1px;
}

#error_explanation{
  font-size: 12px;
  margin: 20px auto 0;
  padding: 10px;
  background: $error-color;
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#error_explanation h3 {
  font-size: 14px;
  margin: 10px;
}

#error_explanation li {
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: right;
}

#success_explanation{
  font-size: 12px;
  margin: 20px auto 0;
  padding: 10px;
  background: $secondary-color;
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#success_explanation h3 {
  font-size: 14px;
  margin: 10px;
}

#success_explanation li {
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: right;
}

.radio label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: $font-smallsize;
}

.absolute-center-export input[type=submit] {
  margin-left: 20px;
}

.absolute-center-export input[type=radio] {
  margin: 5px 5px 5px 10px;
}



hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $primary-color, rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), $primary-color, rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), $primary-color, rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), $primary-color, rgba(0,0,0,0));
}
