@import 'font_variables';
@import 'color_variables';

.absolute-center {
  bottom: 0;
  height: 30%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

.absolute-center-icons {
  bottom: 0;
  height: 80%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

.container h1, p, #profile {
  text-align: center;
}

#brand {
  font-size: 50px;
}


#tagline {
  line-height: 27px;
  margin: 30px;
}

#profile ol {
  text-align: left;
  padding-left: 100px;
}
#profile li {
  margin: 5px;
}

.newstory.a.button {
  width: 2000px;
}

.newstoryform {
  text-align: center;
}

.welcome .session .button.signup {
  display: none;
}
