.absolute-center {
  bottom: 0;
  height: 30%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

.absolute-center-export {
  height: 100px;
  position: fixed;
  top: 120px;
  left: 60px;
  width: 400px;
}

.absolute-center-icons {
  bottom: 0;
  height: 80%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

.container h1, p, #profile {
  text-align: center;
}

#brand {
  font-size: 50px;
}

.home {
  position: fixed;
  top: 20px;
  right: 20px;
}

.signup {
  position: absolute;
  top: 20px;
  left: 113px;
}

.login, .logout {
  position: fixed;
  top: 20px;
  left: 20px;
}


#tagline {
  line-height: 27px;
  margin: 30px;
}

#profile ol {
  text-align: left;
  padding-left: 100px;
}
#profile li {
  margin: 5px;
}

.newstory.a.button {
  width: 2000px;
}

.newstoryform {
  text-align: center;
}

#error_explanation h2 {
  color: #DE2A30;
}

#error_explanation ul li {
  color: #DE2A30;
}
